name: Publish

on: 
  release:
    types: [published]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 12
        registry-url: https://registry.npmjs.org/
    - name: npm install
      run: |
        npm install
    - name: publish
      uses: sigma/vsce-publish-action@v0.0.2
      with:
        vsce_token: ${{ secrets.VSCE_TOKEN }}
